body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-image: url(img/food-img.jpg);
    background-size: cover;
    overflow: hidden;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    padding-top: 20vh;
}

.image-overlay {
    background-color: rgba(52, 52, 52, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    height: fit-content;
    background-color: antiquewhite;
    display: flex;
}

.weekMenu {
    border: 2px solid pink;
    
}

h1 {
    padding: 2rem;
}
#theForm {
    background-color: #343434;
    color: antiquewhite;
    display: flex;
    padding: 3rem;
    max-width: 100%;
    flex-direction: column;
}

label {
    margin-bottom: 5%;
}

input{
    margin-bottom: 15%;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    background-color: #343434;
    padding: 3%;
    width: 100%;
}

input:hover {
}

@keyframes expandAnimation {
    0% {
        width: 0%;
    }
    25% {
        width: 25%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

input:focus {
    border-color: #99B080;
    animation: expandAnimation 0.3s forwards;

}