body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-image: url(img/food-img.jpg);
    background-size: cover;
    overflow: hidden;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;

}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    padding-top: 20vh;
}

.image-overlay {
    background-color: rgba(52, 52, 52, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    border: 1px solid green;
    height: fit-content;
    background-color: antiquewhite;
    display: flex;
}

.weekMenu {
    border: 2px solid pink;
    
}

h1 {
    padding: 2rem;
}
#theForm {
    border: 1px solid blue;
    background-color: #343434;
    color: antiquewhite;
    display: flex;
    padding: 2rem;
    max-width: 100%;
    flex-direction: column;
}

label {
    border: 1px solid green;
    margin-bottom: 5%;
}

input{
    margin-bottom: 10%;
}